$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/';

$background-color: #fefefe;
$font-color: #0c0c0c;

body {
  background-color: $background-color;
  color: $font-color;
}

form,
button,
legend,
input {
  font-size: 2vw;
}

.board {
  margin-left: 3vw;
  margin-top: 3vw;
}

.row-centered {
  // use viewport width to expand content responsively in parallel with columns,
  font-size: 8vw;
  text-align: center;
}

.col-centered {
  display: inline-block;
  height: 14vw;
  text-align: center;
}

.game-message {
  font-size: 4vw;
  height: 14vw;
  padding-top: 4vw;
}

#signed-in {
  font-size: 4vw;
}

#cell-0 {
  border-bottom: .5vw solid $font-color;
  border-right: .5vw solid $font-color;
}

#cell-1 {
  border-bottom: .5vw solid $font-color;
  border-left: .5vw solid $font-color;
  border-right: .5vw solid $font-color;
}

#cell-2 {
  border-bottom: .5vw solid $font-color;
  border-left: .5vw solid $font-color;
}

#cell-3 {
  border-bottom: .5vw solid $font-color;
  border-right: .5vw solid $font-color;
  border-top: .5vw solid $font-color;
}

#cell-4 {
  border-bottom: .5vw solid $font-color;
  border-left: .5vw solid $font-color;
  border-right: .5vw solid $font-color;
  border-top: .5vw solid $font-color;
}

#cell-5 {
  border-bottom: .5vw solid $font-color;
  border-left: .5vw solid $font-color;
  border-top: .5vw solid $font-color;
}

#cell-6 {
  border-right: .5vw solid $font-color;
  border-top: .5vw solid $font-color;
}

#cell-7 {
  border-left: .5vw solid $font-color;
  border-right: .5vw solid $font-color;
  border-top: .5vw solid $font-color;
}

#cell-8 {
  border-left: .5vw solid $font-color;
  border-top: .5vw solid $font-color;
}
